.max-height {
  height: 100%;
}

.max-width {
  width: 100%;
}

.display-flex {
  display: flex;
}

.flex-1 {
  flex: 1 0;
}

.flexbox-center {
  align-items: center;
  justify-content: center;
}

.no-radius {
  border-radius: 0px;
}

//margins

.margin-right-10 {
  margin-right: 10px;
}

.margin-right-20 {
  margin-right: 10px;
}

.margin-right-30 {
  margin-right: 10px;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.cursor-pointer {
  cursor: pointer;
}

.p-no-margin{
  margin:0;
}
