<div class="panel panel-primary" ng-show="vm.showWindow">
    <div class="panel-heading clearfix">
        <span ng-bind="vm.title" class="pull-left"></span>
        <div class="pull-right">
                    <span class=" cursor-pointer"  ng-click="vm.showContent()">
            <i class="fa fa-window-minimize" style="font-size:10px; margin-right:5px;" aria-hidden="true"></i>
</span>
                 <span class="cursor-pointer" ng-click="vm.removeTile()">
            <i class="fa fa-times" aria-hidden="true"></i>   </span>
        </div>


    </div>
    <div class="panel-body" ng-show="vm.displayStatus">
        <p ng-transclude></p>
    </div>
</div>